# trusty beta image has jdk8, gcc4.8.4
dist: trusty
sudo: required
# xcode8 has jdk8
osx_image: xcode8
# Not technically required but suppresses 'Ruby' in Job status message.
language: java
addons:
  apt:
    packages:
    - nginx
os:
  - linux
  - osx

env:
  # we want to test the most recent few releases
  - V=0.6.0
  - V=0.7.0

before_install:
  - |
    if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
      OS=darwin
      sudo brew install nginx
    else
      sysctl kernel.unprivileged_userns_clone=1
      sudo apt-get update -q
      sudo apt-get install libxml2-utils nginx -y
      OS=linux
    fi
    sudo mkdir -p /webdav/bazel-cache/ac
    sudo mkdir -p /webdav/bazel-cache/cas
    sudo chmod a+rwX /webdav/bazel-cache/cas /webdav/bazel-cache/ac
    nginx -c `pwd`/nginx.conf &
    if [[ $V =~ .*rc[0-9]+.* ]]; then
      PRE_RC=$(expr "$V" : '\([0-9.]*\)rc.*')
      RC_PRC=$(expr "$V" : '[0-9.]*\(rc.*\)')
      URL="https://storage.googleapis.com/bazel/${PRE_RC}/${RC_PRC}/bazel-${V}-installer-${OS}-x86_64.sh"
    else
      URL="https://github.com/bazelbuild/bazel/releases/download/${V}/bazel-${V}-installer-${OS}-x86_64.sh"
    fi
    wget -O install.sh "${URL}"
    chmod +x install.sh
    ./install.sh --user
    rm -f install.sh
  - cat .bazelrc.travis >> .bazelrc

script:
  - bash test_run.sh ci

